:root {
  --main-bg-color: #48eaff;
  --main-color: #3f3f55;
  --dark-bg-color: #3f3f55;
  --dark-color: #eee;
  --transition: all 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: grid;
  place-items: center;
  justify-content: center;
  height: 100vh;
  transition: var(--transition);
  background-image: url(./assets/abstract-textured-backgound_1258-30535.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  max-width: 1020px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    " . nav ."
    " header header header"
    ". section ."
    ".  footer  .";
}
/* Start Nav Style */
nav {
  background-color: var(--dark-bg-color);
  color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 70%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  grid-area: nav;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(1.2);
  z-index: 12;
}
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-left: 2em;
  text-transform: capitalize;
}
.nav-toggle {
  display: none;
  cursor: pointer;
  position: relative;
}
.ul-toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: inherit;
  top: 2em;
}

.ul-toggle li {
  padding: 10px 55px;
  display: block;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: var(--transition);
}
.ul-toggle li:last-child {
  border-bottom: none;
}
.ul-toggle li:hover {
  border-bottom: 1px solid var(--main-bg-color);
}

.nav-center li {
  list-style: none;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition);
}
.nav-center li:hover {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
.dark-nav {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
.dark-nav li:hover {
  background-color: var(--dark-bg-color);
  color: var(--main-bg-color);
}
nav .btn {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}
nav .btn:hover {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
@media screen and (max-width: 900px) {
  .nav-center {
    gap: 1em;
    font-size: small;
  }
  nav .btn {
    padding: 2px 5px;
  }
}
@media screen and (max-width: 600px) {
  .nav-center {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}
/* End Nav Style */
/*  Start Header Style */
header {
  grid-area: header;
  text-align: center;
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.person-info {
  transition: font-size 0.2s ease-in;
  text-align: left;
  color: var(--dark-color);
  font-size: 1.2em;
}
.person-info h1 {
  text-transform: capitalize;
  text-shadow: 0 4px 10px #000000d1;
}
.person-info span {
  color: var(--main-bg-color);
}
.person-info p {
  margin: 10px 0;
  line-height: 2em;
}

.img-contain {
  transition: transform 0.2s ease-in-out;
  
}
.img-contain img {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid var(--main-bg-color);
  margin-left: 20px;
}
header h1 {
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  header{
    padding: 20px;
  }
  .person-info {
    font-size: 16px;
    /* width: 22em; */
    /* line-height: 1em; */
  }
  .img-contain img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3em;
    padding: 20px;
  }
  .person-info {
    /* text-align: center; */
    width: 100%;
    font-size: 1em;
  }
.img-contain{
  transform: translate(60px,-90px);
}
  .img-contain img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  header{
    gap:0;
  }
  .img-contain img {
    width: 150px;
    height: 150px;
  }
}

/*  End Header Style */
.section {
  grid-area: section;
}
.section p {
  margin: 20px 0;
}
