/* Global Styles*/

:root {
  --main-bg-color: #1a1a1a; /* Dark Gray */
  --main-color: #ffffff; /* White */
  --secondary-color: #d4d4d4; /* Light Gray */
  --dark-bg-color: #ff7f50; /* Coral */
  --dark-color: #333333; /* Darker Gray */
  --gradient-color: radial-gradient(
    circle,
    #f86bdf 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
  --dark-transparent: rgba(0, 0, 0, 0.349);
  --transition: all 0.2s;
  --transition-opacity: filter 0.5s ease-in;
  --transition-rotate: transform 0.5s ease-in;
  --transition-transform: transform 0.5s ease-in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}



#root {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "section"
    "skills"
    "footer";
  transition: var(--transition);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* End Global Styles */
/* Start Header Style */
header {
  grid-area: header;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-bg-color);
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: var(--dark-bg-color);
  transition: var(--transition);
}
header .nav .dark-mode {
  position: absolute;
  top: 0em;
  left: 0rem;
  font-size: 1.2em;
  background-color: var(--main-color);
  padding: 30px;
  transition: var(--transition);
  clip-path: polygon(0 0, 80% 0, 0% 80%);
  transform: scale(1.7);
}

header .nav .dark-mode button {
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: var(--main-color);
  color: var(--dark-color);
  top: 15px;
  left: 15px;
  transition: var(--transition);
}

.dark {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color) !important;
}

header .nav .dark-mode:hover {
  clip-path: polygon(0 0, 100% 0, 0% 100%);
}
header .nav .dark-mode:hover button {
  top: 10px;
  left: 10px;
}

header .links {
  background-color: var(--dark-transparent);
  position: absolute;
  right: 0em;
  top: 40%;
  padding: 0.8em;
  backdrop-filter: blur(10px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: var(--transition);
}
header .links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

header .links ul li {
  transform: scale(1);
  transition: var(--transition);
  cursor: pointer;
}

header .links ul li:hover {
  transform: scale(1.5) translateZ(100px);
}

header .name {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.2em;
}
header .name .icon {
  font-size: 4em;
}
header .name h1 {
  text-transform: capitalize;
  /* text-shadow: 0 4px 10px #000000d1; */
  margin-bottom: 0.5em;
}

header .name .job-title {
  display: inline-block;
  text-transform: capitalize;
}

.dn-dark{
  color: var(--dark-color);
}

header .down * {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  bottom: 1.5em;
  animation: vibrate 1s linear infinite;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(2px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translate(0);
  }
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 576px) {
}

/* End Header Style */
/*  Start main Style */

main {
  display: grid;
  grid-area: main;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-image: url(/assets/main-bg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--main-color);
  max-width: 100vw;
  gap: 2em;
}

.main-dark {
  color: var(--dark-color);
  background-image: none;
  background-color: var(--main-bg-color);
}

.about-dark *{
  color: var(--dark-bg-color) !important;
}

.about-me {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about-me h1 {
  color: var(--dark-color);
  text-decoration: underline;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: var(--dark-transparent);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container span {
  font-size: 2em;
  filter: opacity(0.2);
}

.about-container .left {
  position: absolute;
  left: 1em;
  top: 0.5em;
}
.about-container .right {
  position: absolute;
  right: 1.5em;
  bottom: 0.5em;
}

.about-container p {
  font-size: 1em;
  line-height: 1.6;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .about-me h1 {
    font-size: 4em;
  }
  .about-container p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .about-me {
    height: 30em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about-me h1 {
    font-size: 2.5em;
    margin-top: 0;
  }
  .about-container {
    height: 800px;
  }
}
@media screen and (max-width: 576px) {
}

/*  End main Style */
/* Start Section Style  */
.section {
  grid-area: section;
  background-color: var(--dark-bg-color);
}

.sec-dark{
  color: var(--dark-color) !important;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-row-gap: 40px;
  padding: 50px;
  user-select: none;
}

@media screen and (max-width: 992px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section h1 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.section .project-card {
  border: 2px solid var(--dark-color);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  background-color: var(--main-color);
  color: var(--main-color);
  overflow: hidden;
  border-radius: 0.5em;
  transition: var(--transition);
}

.section .card-dark {
  background-color: var(--dark-color);
  color: var(--dark-bg-color);
}

.project-card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 10px 0px rgb(0 0 0);
}

.project-image {
  position: relative;
  border-radius: 0.5em;
  cursor: pointer;
  overflow: hidden;
}

.project-image img {
  border-radius: 0.6em;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.2s ease-in-out;
}

.dim-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.project-btn {
  width: 70%;
  font-size: 1em;
  position: absolute;
  bottom: -100%;
  left: 15%;
  border-radius: 8px;
  background-color: var(--dark-bg-color);
  color: var(--main-color);
  padding: 0.5em;
  text-align: center;
  transition: var(--transition);
  opacity: 1;
}

.project-image:hover .project-btn {
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
  opacity: 1;
}

.project-btn:hover {
  color: var(--dark-color);
}

.project-image:hover .dim-screen {
  backdrop-filter: blur(3px);
  height: 100%;
}

.project-info {
  background-color: var(--dark-bg-color);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info-dark{
  background-color: var(--main-bg-color) !important;
}

.project-info p,
.project-info h3 {
  margin: 10px auto;
  padding: 10px;
}
.project-info h3:hover {
  color: var(--dark-color);
}

/* */
@media screen and (min-width: 992px) {
  .project-btn {
    padding: 1.5em;
    font-size: 1.5em;
  }
  .section h1 {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .project-btn {
    padding: 1em;
    font-size: 1em;
  }
}

/* End Section Style */

/* Start Skills Style */
.skills {
  grid-area: skills;
  padding: 1.5em;
  border-bottom: 1px solid var(--dark-bg-color);
}

.skills-dark{
  color: var(--dark-bg-color) !important;
}

.sec-title {
  color: var(--dark-color);
  text-decoration: underline;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
.skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: var(--secondary-color);
  font-size: 2.5em;
}
.skills .skills-container span {
  background-color: var(--dark-color);
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
}

@media screen and (min-width: 992px) {
  .sec-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .skills .skills-container {
    font-size: 3em;
  }
  .skills .skills-container span {
    /* padding: .5em; */
  }
}
/* End Skills Style */

/* Start Footer Style */
.footer {
  grid-area: footer;
  background: var(--main-bg-color);
  color: var(--main-color);
  text-align: center;
  padding: 2em;
}

/* End Footer Style */
