/* Global Styles*/

:root {
  --main-bg-color: #1a1a1a; /* Dark Gray */
  --main-color: #ffffff; /* White */
  --secondary-color: #d4d4d4; /* Light Gray */
  --dark-bg-color: #ff7f50; /* Coral */
  --dark-color: #333333; /* Darker Gray */
  --gradient-color: radial-gradient(
    circle,
    #f86bdf 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
  --dark-transparent: rgba(0, 0, 0, 0.5);
  --transition: all 0.2s;
  --transition-opacity: filter 0.5s ease-in;
  --transition-rotate: transform 0.5s ease-in;
  --transition-transform: transform 0.5s ease-in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "section"
    "footer";
  transition: var(--transition);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* End Global Styles */
/* Start Header Style */
header {
  grid-area: header;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-bg-color);
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: var(--dark-bg-color);
  transition: var(--transition);
}
header .nav .dark-mode {
  position: absolute;
  top: 0em;
  left: 0rem;
  font-size: 1.2em;
  background-color: var(--main-bg-color);
  padding: 30px;
  cursor: pointer;
  transition: var(--transition);
  clip-path: polygon(0 0, 80% 0, 0% 80%);
  transform: scale(1.7);
}

header .nav .dark-mode span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  transition: var(--transition);
}
header .nav .dark-mode:hover {
  clip-path: polygon(0 0, 100% 0, 0% 100%);
}
header .nav .dark-mode:hover span {
  top: 10px;
  left: 10px;
}

header .links {
  background-color: var(--dark-color);
  position: absolute;
  right: 0.1em;
  top: 40%;
  padding: 0.8em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: var(--transition);
}
header .links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

header .links ul li {
  transform: scale(1);
  transition: var(--transition);
  cursor: pointer;
}

header .links ul li:hover {
  transform: scale(1.2);
}

header .name {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.5em;
}
header .name .icon{
  font-size: 4em;
}
header .name h1 {
  text-transform: capitalize;
  text-shadow: 0 4px 10px #000000d1;
  margin-bottom: 0.5em;
}



header .name .job-title {
  display: inline-block;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 576px) {
}

/* End Header Style */
/*  Start main Style */
.up i {
  position: fixed;
  padding: 10px 12px;
  color: var(--dark-bg-color);
  background-color: var(--main-color);
  z-index: 5;
  bottom: 2rem;
  right: -4rem;
  border-radius: 8px;
  text-transform: capitalize;
  cursor: pointer;
  filter: opacity(0.5);
  transition: 0.2s;
}

.up i:hover {
  filter: opacity(1);
}
main {
  grid-area: main;

  align-items: center;

  padding: 2rem;

  text-align: center;

  background-image: url(https://img.freepik.com/free-vector/cyber-technology-background_23-2148390330.jpg?t=st=1730202948~exp=1730206548~hmac=d258d5c3cc9d358755cbe87097c83a1acb4fdf8558d4f56e5782906fc09c40a7&w=1380);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  /* height: 100vh; */
  max-width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  gap: 2em;
  user-select: none;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 50%;
  transition: font-size 0.2s ease-in;
  text-align: left;
  font-size: 1.2em;
  position: relative;
  z-index: 2;
}
.person-info::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -20px;
  left: -80px;
  width: 120%;
  height: 118%;
  background-color: var(--dark-transparent);
  border-radius: 12px;
  filter: blur(0px);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
}

.person-info h1 {
  text-transform: capitalize;
  text-shadow: 0 4px 10px #000000d1;
  font-weight: 700;
  letter-spacing: 0em;
}
.person-info span {
  color: var(--main-bg-color);
  font-weight: bold;
}
.person-info .job-title {
  text-transform: capitalize;
  letter-spacing: 0.2em;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.2em;
  /* font-style: italic; */
}
.description::first-letter {
  text-transform: capitalize;
  font-size: 2em;
}

.person-info p {
  margin: 10px 0;
  line-height: 2em;
  font-weight: 400;
  font-style: italic;
}
.person-info p:not(.job-title) {
  text-indent: 12px;
}

.img-contain {
  transition: transform 0.2s ease-in-out;
}
.img-contain img {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--dark-bg-color);
  margin-left: 20px;
}

@media screen and (min-width: 992px) {
  main {
    height: 130vh;
  }
  .person-info {
    font-size: 14px;
  }
  .img-contain img {
    transform: translate(0, -3em);
    width: 150px;
    height: 150px;
  }
}

main h1 {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3em;
    padding: 20px;
  }
  .person-info {
    /* width: 100%; */
    font-size: 0.85em;
  }
  .person-info::before {
    /* width: 100%; */
    /* left: 0px; */
    /* padding: 0 10px; */
  }

  .img-contain {
    transform: translate(3em, -3em);
  }
  .img-contain img {
    width: 220px;
    height: 220px;
  }
}
@media screen and (min-width: 576px) {
  main {
    gap: 0;
  }
  main h1 span {
    display: block;
  }
  .person-info::before {
    /* width: 100%; */
    /* left: 0px; */
    padding: 0 10px;
  }
  .img-contain img {
    width: 100px;
    height: 100px;
    transform: translate(2em, 0em);
    /* margin: 0; */
  }
}

/*  End main Style */
/* Start Section Style  */
.section {
  grid-area: section;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-row-gap: 40px;
  padding: 50px;
  user-select: none;
}

@media screen and (max-width: 992px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section h1 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.section .project-card {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  background-color: var(--dark-bg-color);
  color: var(--main-color);
  overflow: hidden;
  border-radius: 0.5em;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  position: relative;
  border-radius: 0.5em;
  cursor: pointer;
  overflow: hidden;
}

.project-image img {
  border-radius: 0.6em;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.2s ease-in-out;
}

.dim-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.project-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--dark-bg-color);
  color: var(--main-color);
  padding: 0.5em;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.project-image:hover img {
  filter: blur(3px);
}

.project-image:hover .project-btn {
  opacity: 1;
  cursor: pointer;
}

.project-btn:hover {
  color: var(--dark-color);
}

.project-image:hover .dim-screen {
  opacity: 1;
}

.project-info h3:hover {
  color: var(--dark-color);
}

.project-info p,
.project-info h3 {
  margin: 10px auto;
  padding: 10px;
}

/* End Section Style */
